<div class="row">
    <div class="col-md-12">

        <h4>One Way Binding <span style="font-size:0.9rem;"></span></h4>
        <div class="row">
            <div class="col-md-2">
                <h5>Interpolation</h5>
                <p>AD: {{user.name}} , Soyad: {{user.surname}}</p>
            </div>
            <div class="col-md-3">
                <h5>Property Binding</h5>
                <input [type]="type" [value]="user.job"/>
            </div>
            <div class="col-md-3">
                <h5>Attribute Binding</h5>
                <input [type]="type" [value]="user.job" [attr.disabled]="user.isEditable ? 'disabled' : null ">
            </div>
            <div class="col-md-2">
                <h5>Class Binding</h5>
                <p [class.red]="user.name === 'Ahmet' ? true : false">Renk değeri !!</p>
            </div>
            <div class="col-md-2">
                <h5>Style Binding</h5>
                <p [style.color]="user.name === 'Ahmet' ? 'orange' : 'blue'">Style Color !!</p>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <h4>One Way Binding <span style="font-size:0.9rem;">from DOM to component</span></h4>
        <div class="row">
            <div class="col-md-12">
                <h4>Event Binding</h4>
                <input type="text" [value]="user.name" (keyup.enter)="inputSubmit($event)"/>
                <button (click)="buttonClicked()">OK</button>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <h2>
            Two Way Binding
        </h2>
        <div class="row">
            <div class="col-md-12">
                <h3>ngModel</h3>
                <input type="text" [(ngModel)]="user.name">
                <p>{{user.name}}</p>
            </div>
        </div>
    </div>
</div>
